%form{:action => "login", :method => "post"}
  %fieldset
    %ol
      %li
        Username:
        %input{:type => "text", :name => "username"}
      %li
        Password:
        %input{:type => "password", :name => "password"}
    %input{:type => "submit", :value => "Send"}
